body {
    background-color: hsl(0, 0%, 80%);
}
main {
    width: 600px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
text-align: center;
padding: 20px;
}

h1 {
    font-size: 100px;
    font-weight: 600; 
}

input {
    padding: 0;
    width: 436px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    background-color: hsl(0, 0%, 95%);
    border: none;
}

input:focus {
  outline: none;
}

.todoContainer {
    width: 600px;
    height: 50px;
    display: flex;
    background-color: hsl(0, 0%, 95%);
    border-bottom: 1px solid grey;
    box-shadow: 5px 5px 20px grey;
}

.todoContainer:hover .delete{
    opacity: 1;
}

.inputContainer {
    width: 450px;
    height: 50px;
    font-size: 30px;
}

.toggle, .delete {
    height: 50px;
    width: 75px;
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 95%);
    line-height: 50px;
   
}

.delete {
    font-size: 18px;
    font-weight: 700;
    color: hsl(0, 100%, 80%);
    opacity: 0;

}

.delete p:hover {
    color: hsl(0, 100%, 50%);
    transition: color 1s;
    cursor: pointer;
}

.toggle {
   font-size: 40px;
   font-weight:300;
}

.toggle-uncomplete {
  color: black;
}

.toggle-uncomplete p:hover {
    color: green;
    transition: color 1s;
    cursor: pointer;
}

.toggle-complete {
    color: lightgrey;
}

.todo-complete {
    text-decoration: line-through;
    color: lightgrey;
}

